[mysqld]
ndbcluster
ndb-connectstring="{% set IP_ARR=[] %}{% for host in groups['mgmt'] %}{% if IP_ARR.insert(loop.index,hostvars[host]['ansible_ssh_host']) %}{% endif %}{% endfor %}{{IP_ARR|join(':1186,')}"